body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 600px;
    margin-top: 50px;
}

.card {
    background-color: bisque;
}

.organizacao {
    margin-left: -90px;
}
.rodape{

    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.titulo{
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 25px;
}